*{
    box-sizing : border-box;
    margin: 0;
}

body{
    font-family: "Merriweather Sans", sans-serif;
    color: #fff;
    background-color: #002B5B;
    /* change background color */
   
}

h1{
    font-size: 70px;
    font-weight: bold;
}

.title{
    max-width: 500px;
}

.wrapper{
    max-width: 1440px;
    height: 800px;
    /* background-color: yellow; */
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.restart{
    width: 175px;
    height: 50px;
    /* background-color: beige; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 3px solid #fff;
    transition: all 0.2 ease;
    cursor: pointer;
    font-weight: bold;
    margin-top: 30px;
}

.restart:hover{
    color: #4c6986;
    background-color: #fff;
}

.header{
    display: flex;
    /* justify-content: space-around; */
    /* border-bottom: 5px solid #eeeeee; */
    /* padding-bottom: 8px; */
    color: #2B4865;
    font-size: 25px;
    font-weight: bold;
}

.header .player-x{
    flex: 1;
    border-bottom: 5px solid #2B4865;
    padding-bottom: 8px;
}

.header .player-o{
    flex: 1;
    border-bottom: 5px solid #2B4865;
    padding-bottom: 8px;
}

.player-x.active{
    color: #256D85;
    border-color: #256D85;
}

.player-o.active{
    color: #256D85;
    border-color: #256D85;
}

.tile-x{
    color: #fff;
    border-color: #fff;
}

.tile-o{
    color: #d7bafb;
    border-color: #d7bafb;
}

.game{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    /* background-color: yellow; */
}

.board{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap: 0;
    flex-grow: 1;
    padding: 30px;

}

.board-tile{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-weight: bold;
    /* background-color: #ffffff; */
    cursor: pointer;
}

.board-tile:not(:nth-child(3n)){
    border-right: 3px solid #ffffff;
}

.board-tile:not(:nth-last-child(-n+3)){
    border-bottom: 3px solid #ffffff;;
}

.board-tile:hover{
    background-color: #eeeeee1a;
}

.tile-winner span{
    color: #6FEDD6;
}

@media only screen and (max-width: 1200px){
    .wrapper{
        flex-direction: column;
    }

    .left{
        margin-bottom: 50px;
    }
}